.sidebar .widget {
  height: auto;
}
.sidebar .widget .widget-title {
  font-weight: 600;
  text-transform: uppercase;
}
.sidebar .widget ul {
  margin-left: 0px;
  padding-left: 16px;
}
.widget_contact_box {
  text-align: center;
}
.widget_contact_box i {
  width: 60px;
  height: 60px;
  margin: auto;
}
.widget_contact_box a {
  text-decoration: none;
}
