@primary-color: #ff7f00;
@light-gray: #ccc;
@color-dark: #292929;
@color-info-dark: #333;
@color-info-light: #bbb;

// body {
//   padding-top: 20px;
//   padding-bottom: 20px;
// }


/* Everything but the jumbotron gets side spacing for mobile first views */
// .header,
// .marketing,
// .footer {
//   padding-right: 15px;
//   padding-left: 15px;
// }

.site-wrapper {
  padding-top: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.wrapper{
    a{
      text-decoration: underline;
    }
}

.featured-section {
  padding: 35px 0;
  // background: @color-dark;
}

.icon-big{
  font-size: 40px;
  color: @primary-color;
}
.question-tag{
  font-size: 22px;
  color:@light-gray;
}
/* Custom page header */////////////////////////////////////////
.header {
  padding-bottom: 20px;
  
}
.search-above-all {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 99px;
  background: #fff;
  box-shadow: 0 0 55px 25px rgba(0,0,0,0.2);
  z-index: 999999;
  .container {
    height: 99px;
  }
  .search-input {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 32px;
    border: 0;
    padding: 8px 12px;
    font-weight: 300;
    outline: 0;
  }
  .close-search {
    font-size: 32px;
    font-weight: 300;
    position: absolute;
    right: 15px;
    top: 5px;
    padding: 18px;
    cursor: pointer;
  }
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer *////////////////////////////////////////
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container *////////////////////////////////////////

@media (max-width: 1024px){
  .container {
      width: 100%;
  }
}

// .divider{
//     margin: 20px 0px;
// }

.market-news {
  .divider {
    margin-bottom: 20px;
  }
  .blog-meta {
    opacity: 0.6;
  }
}

.cover-promotion{
  background: url(../img/banner.jpg) no-repeat;
  background-size: cover;
  position: relative;
  min-height: 360px;
  .cover-content{
    background: rgba(255, 255, 255, 0.8);
    width: 90%;
    margin: 20px auto;
    left: 0%;
    right: 0%;
    padding: 20px;
    h2{
      line-height: 1.2em
    }
  }
  .cover-info{
    margin-top: 30px;
    .cover-icon{
      display: inline-block;
      color: #ff0052;
      font-weight: 400;
      margin: 0 5px 0 0;
      width: 40px;  
      i
      {
        transform: scale(2);
        margin-top: 12px;
        margin-left: 10px;
        display: block;
      }

    }
    .cover-label{
      display: inline-block;
      width: 70%;
      vertical-align: top;
      line-height: 1.2;
    }
  }
  .meta {
    padding-top: 26px;
  }
  .social-share {
    right: 0;
  }
  a {
    color: @color-info-dark;
  }
}

//* Blog/News Container *///////////////////////////////////////

.blog-section{
  .divider{
    margin: 0px;
    @media (max-width:767px){
        margin: 20px 0px;
    }
  }
}

@media(max-width: 991px)
{
  .cover-promotion 
  {
    .cover-content
    {
      padding: 10px;
    }
  }
  .widget
  {
    padding: 7px;
  }
}


@media (max-width:767px){
   .footer-logo img{
      width:200px;
    }
}

.proms {
  .img-full {
    width: 100%;
    height: auto;
  }
}

.blog-section .blog-sm .blog-title {
  height: 100px;
}

.show-type {
  .the-icon {
    float: left;
    opacity: 0.5;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin-right: 8px;
    border: 1px solid @color-info-light;
    border-radius: 50%;
  }
}

.single-editor {
  display: block;
  padding: 30px 25px;
  border-left: 1px solid #ddd;
  color: @color-info-dark;
  &:hover {
    background: #fafafa;
    .blog-title {
      color: @primary-color;
    }
  }
  .editor-img-wrap {
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 4px;
    margin-right: 20px;
  }
  .editor-img {
    width: 100%;
  }
  .editor-name {
    display: block;
  }
  .blog-title {
    font-size: 1em;
    line-height: 24px;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}